EXPO_PUBLIC_APPWRITE_ENDPOINT=your_appwrite_endpoint_here
EXPO_PUBLIC_APPWRITE_PROJECT=your_project_id_here
EXPO_PUBLIC_APPWRITE_PLATFORM=your_platform_identifier_here
EXPO_PUBLIC_APPWRITE_DB_ID=your_database_id_here
EXPO_PUBLIC_APPWRITE_COMPANIES=your_companies_collection_id_here
EXPO_PUBLIC_APPWRITE_CATEGORIES=your_categories_collection_id_here
